
/AplicacionReconocimiento/bin/Debug/net8.0-windows/DeportNetReconocimiento.exe.WebView2/EBWebView
*.vsidx
*.bin
AplicacionReconocimiento/.vs/ProjectEvaluation/deportnetreconocimiento.projects.v9.bin
/AplicacionReconocimiento/.vs
/AplicacionReconocimiento/bin
/AplicacionReconocimiento/obj
/DeportnetOffline/obj
*.resx
/DeportnetOffline/bin
